<html lang="en">
    <head>
        <title>Daily Report - Bildify Technologies Pvt Ltd</title>
        <meta charset="utf-8">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

        <!-- <style> body {padding:0; font-family: 'Poppins', sans-serif; font-size:12px; font-weight:300;}table tr:nth-of-type(even) {background-color:#eaeaea;} tr:first-of-type {color: #eaeaea;}</style>
         -->
        
  <style>
    body {
      padding: 0;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 15mm; /* Increase margin-bottom to accommodate the footer */
    }

    table tr:nth-of-type(even) {
      background-color: #eaeaea;
    }

    tr:first-of-type {
      color: #eaeaea;
    }

    @page {
      margin: 0mm;
      counter-increment: page;
    }
	  
    .footer {
      background-color: #92278F;
      color: #fff;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 15mm;
      margin-top: 0mm;
      width: 100%;
      box-sizing: border-box;
       z-index: 999;
    }

    .footer-inner {
      display: flex;
      justify-content: space-between;
    }

    .footer-button {
      background-color: #fff;
      border: none;
      color: #92278F;
      padding: 3px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 10px;
    }

    .header {
      width: 100%;
      background-color: #92278F;
      color: #ddd;
      font-size: 12px;
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px;
    }

    .report-summary {
      text-align: left;
      align-items: center;
    }

    .summary-text {
      font-size: 12px;
      margin-right: 5px;
    }

    .company-name {
      color: #fff;
    }

    .logo {
      width: 20%;
    }
	
    .content {
     
      flex: 1;
      
    padding-bottom: 15px; 
    overflow: auto;	
   margin-bottom: 50px;
   position: relative;   
   top: 80px;
        left: 0;
        right: 0;
        
    }
   
    
     tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

	 @page {
    @bottom-left {
      content: counter(page) ' of ' counter(pages);
      margin-left: 87%;
      margin-bottom: 90%;
      margin-top: -18px;
      color: #fff;
      font-size:10px;
      font-weight: 700;
    }
  }

  </style>

    </head>
    <body>
        <!-- <table cellpadding="10" cellspacing="0" border="0" style="width:100%; margin:0; background-color:#92278F">
        <tr>
        <td align="left"><span style="color:#ddd; font-size:12px">Business Report Summary</span><br>
        <b style="color:#fff">Rsquire Lifestyle Developers</b></td>
        <td align="right"><img src="https://bildify.in/assets/logo/logo_white.svg" style="width: 20%;"></td>
        </tr>
        </table> -->
        <div class="header">
  <div class="report-summary">
    <span class="summary-text">Business Report Summary</span><br>
    <b class="company-name">Rsquire Lifestyle Developers</b>
  </div>
  <img src="https://bildify.in/assets/logo/logo_white.svg" class="logo" style="float: right; margin-right: 20px; position:relative; top:-35px; overflow: hidden;">
  
</div>
			
			<div class="content"> 
        <table style="border: 0px solid #5c743d;background-color:#fff; border-collapse: collapse; margin: 0;box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);width: 100%;border-spacing: 0; text-align:left; vertical-align:top;color:#000;">
            <tbody>
                <tr>
                    <td style="background-color:#fff; width: 50%; padding:10px 0px 10px 20px;vertical-align: top; font-size:14px;"> 
                    <p  style="padding:0px 0px 10px 0px;color:#000;">Total Balance<span style="font-size:18px;color:green"><b> : 5900.00</b></span></p>
                    <div  style="padding:0px 0px 10px 0px;color:#aaa;"> <b>-</b> Company Account <span style="color:#000;">: 5000.00</span></div>
                    <div  style="padding:0px 0px 10px 0px;color:#aaa;"> <b>-</b> With Staff <span style="color:#000;">: 900.00</span></div>
                    <div style="padding:0px 0px 10px 0px;color:#aaa;"> <b>-</b> Deposit with Others <span style="color:#000;">: 0.00</span></div>
                    </td>
                    <td style="background-color:#fff; width: 50%; padding:10px 10px 10px 0px;vertical-align: top; text-align:right;font-size:16px;">
                    <p  style="padding:0px 25px 0px 0px;color:#000;">Total Receivable<br><span style="color:green"><b>40000.00</b></span></p>
                    <p  style="padding:0px 25px 0px 0px;color:#000;">Total Payable<br><span style="color:red"><b>10000.00</b></span></p>
                    </td>
                 </tr>  
            </tbody>
        </table>

        <div style="width:100%;">
            <h4>Running Projects (2)</h4>
        </div>
        <table cellpadding="10" width="100%" cellspacing="0" border="1"><tr><td><h3 style="color:#000;">Vinodhini Site<br>
        <span style="font-size:12px; color:#aaa;">Kaloor, Ernakulam</span></h3>
        <div style="background-color:red; padding:2px 0px; color:#fff; text-align:center;"><b>Delayed</b></div>
        </td><td style="color:#aaa; text-align: justify;" align="left">
        <div>Estimate <b style="color:black">: 6500000.00</b> &nbsp; 
        <span style="color:#aaa"> </span>
        <br> Budget <b style="color:black">: 5000000.00</b></div>
        Expected Profit : <b style="color:green">1500000.00</b></td>
        <td style="color:#aaa;" align="right"><div> 
                        <span style="font-weight:normal;display:block">Start <b style="color:#000">: 02-03-2023</b></span> 
                        <span style="font-weight:normal;display:block">End <b style="color:#000">: 03-03-2023</b></span></div></td></tr><tr><td align="center"><h4 style=" font-weight: normal">Total Payables<br><font color="red"><b>25000.00</b></font></h4>
                            <div>Today's Expense : <b>5000.00</b></div></td><td align="center"><h4 style=" font-weight: normal">Total Receivables<br><font color="green"><b>25000.00</b></font></h4>
                            <p>Today's Received : <b>10000.00</b></p></td><td  align="center"><h4 style=" font-weight: normal">Remaining Budget<br><font color="black"><b>25000.00</b></font></h4>
                            <p>Total Expense : <b>5000.00</b></p></td></tr>

                    <tr style="border-bottom: 1px solid #dddddd; background-color:#fff;" >
                        <td style="width:100%; padding: 10px 20px;" colspan="3">
                        <div style="display:inline-block; width:25%; color:#aaa; text-align: center;">Total Tasks<br><span style="color:#000; font-size: 18px;">5</span></div>
                        <div style="display:inline-block; width:25%; color:#aaa; text-align: center">Completed<br><span style="color:#92278F;  font-size: 18px;">6</span></div>
                        <div style="display:inline-block; width:25%; color:#aaa; text-align: center">On track<br><span style="color:green; font-size: 18px;">4</span></div>
                        <div style="display:inline-block; width:22%; color:#aaa; text-align: center">Delayed<br><span style="color:red; font-size: 18px;">1</span></div>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="3" style="background-color:#fff">
                            <h4>Staff Activity</h4>
                            <table cellpadding="10" cellspacing="0" border="1" width="100%" style="border: #eee 1px solid;">
                                <tr>
                                    <th style="color:#000">Date</th>
                                    <th style="color:#000">Name</th>
                                    <th style="color:#000">Expenses</th>
                                    <th style="color:#000">Balance</th>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Bibeesh</td>
                                    <td align="center">2000.00</td>
                                    <td align="center">1400.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr> 
                               <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr> 
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr> 
                               <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>    
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr> 
                               <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>    
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr> 
                               <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>
                                                                                          
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" >
                            <h4>Vendor Activity</h4>
                            <table cellpadding="10" cellspacing="0" border="1" width="100%" style="border: #eee 1px solid;">
                                <tr>
                                    <th style="color:#000">Date</th>
                                    <th style="color:#000">Name</th>
                                    <th style="color:#000">Debit (-)</th>
                                    <th style="color:#000">Credit (+)</th>
                                    <th style="color:#000">Balance (=)</th>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Sreekanth</td>
                                    <td align="center">2000.00</td>
                                    <td align="center">1400.00</td>
                                    <td align="center">600.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Jins</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">3000.00</td>
                                    <td align="center">1000.00</td>
                                </tr> 
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Sreekanth</td>
                                    <td align="center">2000.00</td>
                                    <td align="center">1400.00</td>
                                    <td align="center">600.00</td>
                                </tr>
                                
                                
                            </table>

                        </td>
                    </tr>

                       </table><br><hr><br>

        <table cellpadding="10" width="100%" cellspacing="0" border="1" >
        <tr><td><h3 style="color:#000;">Roy Site<br><span style="font-size:12px; color:#aaa;">Kodihalli, Bangalore</span></h3>
        <div style="background-color:green; padding:2px 0px; color:#fff;text-align:center;"><b>On Track</b></div>
        </td><td style="color:#aaa; text-align: justify;" align="left" ><div>Estimate <b style="color:black">: 6500000.00</b> <br>
        <span style="color:#aaa"></span>  Budget <b style="color:black">: 5000000.00</b></div>
         Profit : <b style="color:green">1500000.00</b></td>
         <td style="color:#aaa;" align="right">
         <div> 
                        <span style="font-weight:normal;display:block">Start <b style="color:#000">: 02-03-2023</b></span> 
                        <span style="font-weight:normal;display:block">End <b style="color:#000">: 03-03-2023</b></span></div></td></tr><tr><td align="center"><h4 style=" font-weight: normal">Total Payables<br><font color="red"><b>25000.00</b></font></h4>
                            <div>Today's Expense : <b>5000.00</b></div></td><td align="center"><h4 style=" font-weight: normal">Total Receivables<br><font color="green"><b>25000.00</b></font></h4>
                            <p>Today's Received : <b>10000.00</b></p></td><td  align="center"><h4 style=" font-weight: normal">Remaining Budget<br><font color="black"><b>25000.00</b></font></h4>
                            <p>Total Expense : <b>5000.00</b></p></td></tr>

                    <tr style="border-bottom: 1px solid #dddddd; background-color:#fff;" >
                        <td style="width:100%; padding: 10px 20px;" colspan="3">
                        <div style="display:inline-block; width:25%; color:#aaa; text-align: center;">Total Tasks<br><span style="color:#000; font-size: 18px;">5</span></div>
                        <div style="display:inline-block; width:25%; color:#aaa; text-align: center">Completed<br><span style="color:#92278F;  font-size: 18px;">6</span></div>
                        <div style="display:inline-block; width:25%; color:#aaa; text-align: center">On track<br><span style="color:green; font-size: 18px;">4</span></div>
                        <div style="display:inline-block; width:22%; color:#aaa; text-align: center">Delayed<br><span style="color:red; font-size: 18px;">1</span></div>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="3" style="background-color:#fff">
                            <h4>Staff Activity</h4>
                            <table cellpadding="10" cellspacing="0" border="1" width="100%" style="border: #eee 1px solid;" >
                                <tr>
                                    <th style="color:#000">Date</th>
                                    <th style="color:#000">Name</th>
                                    <th style="color:#000">Expenses</th>
                                    <th style="color:#000">Balance</th>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Bibeesh</td>
                                    <td align="center">2000.00</td>
                                    <td align="center">1400.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr> 
                                
                                
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>
                                  <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr> 
                                
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Gagan</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">-2000.00</td>
                                </tr>                                                                 
                            </table>

                        </td>
                    </tr>
                    <tr  >
                        <td colspan="3" >
                            <h4>Vendor Activity</h4>
                            <table cellpadding="10" cellspacing="0" border="1" width="100%" style="border: #eee 1px solid;">
                                <tr>
                                    <th style="color:#000">Date</th>
                                    <th style="color:#000">Name</th>
                                    <th style="color:#000">Debit (-)</th>
                                    <th style="color:#000">Credit (+)</th>
                                    <th style="color:#000">Balance (=)</th>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Sreekanth</td>
                                    <td align="center">2000.00</td>
                                    <td align="center">1400.00</td>
                                    <td align="center">600.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Jins</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">3000.00</td>
                                    <td align="center">1000.00</td>
                                </tr> 
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Sreekanth</td>
                                    <td align="center">2000.00</td>
                                    <td align="center">1400.00</td>
                                    <td align="center">600.00</td>
                                </tr>
                                <tr>
                                    <td align="center">11 May 2023</td>
                                    <td align="center">Jins</td>
                                    <td align="center">4000.00</td>
                                    <td align="center">3000.00</td>
                                    <td align="center">1000.00</td>
                                </tr>
                                 
                                
                            </table>

                        </td>
                    </tr>

                       </table>
                      <div>
                      
                      </div> 
                      <center><small>Report generated at May 13, 2023 8:10 PM</small></center>
                      

</div>


        <!-- <table cellpadding="10" cellspacing="0" border="0" style="width:100%; margin:0; background-color:#92278F; color: #fff;">
        <tr><td align="left"><span style="color:#fff">Start Using Bildify</span> 
        <button style="background-color: #fff; padding: 10px 20px; border:0; border-radius: 10px;">Install</button></td>
        <td align="right"><span style="font-size:14px">&#9742; +91 - 999999999</span><br><span style="font-size:10px">Page 1/1</span></td></tr></table> -->
        <footer class="footer">
    
  <div style="display: flex; justify-content: space-between;">
  <div class="footer-inner">
    <div >
      <p style="margin: 10px;">
        <b >Start Using Bildify</b>
        <a href="https://play.google.com/store/apps/details?id=in.bildify" class="footer-button" style="border-radius: 10px;" target="_blank">
        <b>Install</b></a>
      </p>
    </div>
    </div>
    <div style="float: right; margin-right: 20px; overflow: hidden;">
      <p><b style="color:#fff;">&#9742; +91 - 999999999 <br> <span style="font-size:10px" >Page</span></b></p>
    </div>
  </div>
  
</footer>   

    </body>
    </html>